.jumbotron {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),url("../media/hero.jpg") ; 
    background-size: cover;
    background-position: center;
    border-radius: 0;
}